<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Chat Factory</title>
</head>

<body>

<span>
  <a th:href="@{/logs}">
    <button>Check logs</button>
  </a>
</span>

<span>
  <a th:href="@{/users}">
    <button>Check users</button>
  </a>
</span>

<span>
  <a th:href="@{/messages}">
    <button>Check messages</button>
  </a>
</span>

<h2>Welcome to CHAT FACTORY!</h2>
<h3>-- powered by PostgreSQL, woohoo! --</h3>
<h3>-- Proceed to text chat with fellow kids! --</h3>

</body>
</html>
