<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Chat Factory</title>
</head>

<body>


<h2>CHAT FACTORY!</h2>
<h3>-- List of all messages --</h3>

<span>
  <a th:href="@{/}">
    <button>Back</button>
  </a>
</span>



<table>
  <colgroup span="1"></colgroup>
  <tr>
    <th>Message</th>
  </tr>

  <tr th:each="message : ${messages}">
    <td th:text="${message.getText()}"></td>

    <!--<td>-->
      <!--<a th:href="@{'/users/todo/' + ${user.getUserId()}}"><button>Send</button></a>-->
    <!--</td>-->

  </tr>
</table>


<form th:action="@{/messages/send}" th:object="${message}" method="post">
  <input type="text" th:field="*{text}" placeholder="Enter text"/>
  <button type="submit">Send message</button>
</form>


<form th:action="@{/messages/save}" th:object="${message}" method="post">
  <input type="text" th:field="*{text}" placeholder="Enter text"/>
  <button type="submit">Save message</button>
</form>


</body>
</html>
