<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Chat Factory</title>
  <script type="text/javascript" th:src="@{/js/sockjs.min.js}" />
  <script type="text/javascript" th:src="@{/js/stomp.min.js}" />
  <script type="text/javascript" th:src="@{/js/app.js}" />
</head>

<body>

<h2>CHAT FACTORY!</h2>
<h3>-- List of all messages --</h3>

<span>
  <a th:href="@{/}">
    <button>Back</button>
  </a>
</span>

<table>
  <colgroup span="2"></colgroup>
  <tr>
    <th>From</th>
    <th>Message</th>
  </tr>

  <tr th:each="message : ${messages}">
    <td th:text="${message.getUsername()}"></td>
    <td th:text="${message.getText()}"></td>
  </tr>
</table>

<form th:action="@{/messages/send}" th:object="${message}" method="post">
  <input type="text" th:field="${message.text}" placeholder="Enter text"/>
  <select th:name="recipient" >
    <option value="157">Select Recipient</option>
    <option th:each="user : ${userList}" th:value="${user.getUserId()}" th:text="${user.getUserName()}"></option>
  </select>

  <button type="submit">Send message</button>
</form>

</body>
</html>
