<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Chat Factory</title>
</head>

<body>


<h2>CHAT FACTORY!</h2>
<h3>-- List of all users --</h3>

<span>
  <a th:href="@{/}">
    <button>Back</button>
  </a>
</span>

<span>
  <a th:href="@{/users/add}">
    <button>Add new user</button>
  </a>
</span>


<table>
  <colgroup span="6"></colgroup>
  <tr>
    <th>User ID</th>
    <th>Registration Date</th>
    <th>User name</th>
    <th>User IP Address</th>

  </tr>
  <tr th:each="user : ${userList}">
    <td th:text="${user.getUserId()}"></td>
    <td th:text="${user.getDateCreated()}"></td>
    <td th:text="${user.getUserName()}"></td>
    <td th:text="${user.getUserAddress()}"></td>
    <td>
      <a th:href="@{'/users/todo/' + ${user.getUserId()}}"><button>Send</button></a>
    </td>

    <!--user vs model attribute user-->
  </tr>
</table>



<h3>
  ...
</h3>

</body>
</html>
